.back {
  float: right;
  cursor: pointer;

  > div {
   display: flex;
   > div {
     background: black;
     margin: 1px;
     width: 8px;
     height: 8px;
   }
  }
  
  #back-grid-item-1 {
    animation: driftTopLeftBack 0.2s forwards;
  }
  #back-grid-item-2 {
    animation: driftTopRightBack 0.2s forwards;
  }
  #back-grid-item-3 {
    animation: driftBotLeftBack 0.2s forwards;
  }
  #back-grid-item-4 {
    animation: driftBotRightBack 0.2s forwards;
  }

  &:hover {
    #back-grid-item-1 {
      animation: driftTopLeft 0.2s forwards;
    }
    #back-grid-item-2 {
      animation: driftTopRight 0.2s forwards;
    }
    #back-grid-item-3 {
      animation: driftBotLeft 0.2s forwards;
    }
    #back-grid-item-4 {
      animation: driftBotRight 0.2s forwards;
    }
  }
}

@keyframes driftTopLeft {
  from { transform: translate(0); }
  to { transform: translate(-1px, -1px); }
}
@keyframes driftTopRight {
  from { transform: translate(0); }
  to { transform: translate(1px, -1px); }
}
@keyframes driftBotLeft {
  from { transform: translate(0); }
  to { transform: translate(-1px, 1px); }
}
@keyframes driftBotRight {
  from { transform: translate(0); }
  to { transform: translate(1px, 1px); }
}

@keyframes driftTopLeftBack {
  from { transform: translate(-1px, -1px); }
  to { transform: translate(0); }
}
@keyframes driftTopRightBack {
  from { transform: translate(1px, -1px); }
  to { transform: translate(0); }
}
@keyframes driftBotLeftBack {
  from { transform: translate(-1px, 1px); }
  to { transform: translate(0); }
}
@keyframes driftBotRightBack {
  from { transform: translate(1px, 1px); }
  to { transform: translate(0); }
}
