.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 0.3s, opacity 0.3s; 

  &.hide {
    pointer-events: none;
    top: -40px;
    opacity: 0;
  }
}