* {
  margin: 0;
  padding: 0;
  border: 0;
}

.hide {
  display: none;
}

body {
  height: 100vh;
  background-color: #005960;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

main {
  position: relative;
  width: 150px;
  height: 210px;
}

a {
  position: absolute;
  text-decoration: none;
  cursor: pointer;
  color: white;
  opacity: 0.7;
  transition: opacity 0.1s, transform 0.1s;
}

a:hover {
  transform: scale(1.05);
  opacity: 1;
  transition: transform 0.1s, opacity 0.1s;
}

a > p {
  text-align: center;
  margin-top: 5px;
  font-size: 1em;
}

svg {
  width: 60px;
  height: 60px;
  fill: white;
}

.linkedin {
  top: 0;
  left: 0;
}

.github {
  top: 0;
  right: 0;
}

a.contact {
  bottom: 0;
  left: 0;
}

a.resume {
  bottom: 0;
  right: 0;
}

.subsection a {
  opacity: 0;
  transition: opacity 0.4s, transform 0.4s ease-out;
}

.subsection .linkedin {
  transform: translate(-20px, -20px);
}

.subsection .github {
  transform: translate(20px, -20px);
}

.subsection .contact {
  transform: translate(-20px, 20px);
}

.subsection .resume {
  transform: translate(20px, 20px);
}

.subsection .contact.centered {
  transform: translate(45px, -60px);
  transition: opacity 0.4s 0.6s, transform 0.4s ease-out;
}

.subsection .resume.centered {
  transform: translate(-45px, -60px);
  transition: opacity 0.4s 0.6s, transform 0.4s ease-out;
}

.subsection .contact.centered p,
.subsection .resume.centered p {
  opacity: 0;
  transition: opacity 0.4s;
}

section {
  position: absolute;
  background: white;
  z-index: -1;
  opacity: 0;
  font-size: 0.9em;
  border-radius: 5px;
  padding: 20px;
  transition: opacity 0.1s, transform 0.5s;
  transform: scale(1.5);
}

.subsection section {
  z-index: 1;
  opacity: 1;
  transition: opacity 0.4s ease-out 1s, transform 0.1s;
  transform: scale(1);
}

section h3 {
  margin-bottom: 20px;
}

section p {
  margin-bottom: 5px;
}

.back {
  float: right;
  cursor: pointer;
}

.back > div {
  display: flex;
}

.back > div > div {
  background: black;
  margin: 1px;
  width: 8px;
  height: 8px;
}

.back #back-grid-item-1 {
  animation: driftTopLeftBack 0.2s forwards;
}
.back #back-grid-item-2 {
  animation: driftTopRightBack 0.2s forwards;
}
.back #back-grid-item-3 {
  animation: driftBotLeftBack 0.2s forwards;
}
.back #back-grid-item-4 {
  animation: driftBotRightBack 0.2s forwards;
}

.back:hover #back-grid-item-1 {
  animation: driftTopLeft 0.2s forwards;
}
.back:hover #back-grid-item-2 {
  animation: driftTopRight 0.2s forwards;
}
.back:hover #back-grid-item-3 {
  animation: driftBotLeft 0.2s forwards;
}
.back:hover #back-grid-item-4 {
  animation: driftBotRight 0.2s forwards;
}

@keyframes driftTopLeft {
  from { transform: translate(0); }
  to { transform: translate(-1px, -1px); }
}
@keyframes driftTopRight {
  from { transform: translate(0); }
  to { transform: translate(1px, -1px); }
}
@keyframes driftBotLeft {
  from { transform: translate(0); }
  to { transform: translate(-1px, 1px); }
}
@keyframes driftBotRight {
  from { transform: translate(0); }
  to { transform: translate(1px, 1px); }
}

@keyframes driftTopLeftBack {
  from { transform: translate(-1px, -1px); }
  to { transform: translate(0); }
}
@keyframes driftTopRightBack {
  from { transform: translate(1px, -1px); }
  to { transform: translate(0); }
}
@keyframes driftBotLeftBack {
  from { transform: translate(-1px, 1px); }
  to { transform: translate(0); }
}
@keyframes driftBotRightBack {
  from { transform: translate(1px, 1px); }
  to { transform: translate(0); }
}

.contact-point {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-point:last-child {
  margin-bottom: 0;
}

.contact-info svg {
  fill: black;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  opacity: 0.7;
  font-size: 0.7em;
}
