body {
  background-color: #161838;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  position: fixed;
  bottom: 0;
  right: 0;
  color: white;
}